<ion-view view-title="Home">
	<ion-content>
		<img src="img/{{siteinfo.sitename}}.png" class="course_image">
		<section class="student_details">
			<h2>Hi {{siteinfo.fullname}},</h2>
			
			<h2> Welcome to MYDY</h2>
		</section>
		<a menu-close  ui-sref="site.mm_courses" title="{{ 'mm.sidemenu.mycourses' | translate}}">  <img src="img/courses.png" class="home_image_row4">  </a>
		<a menu-close ui-sref="site.mm_attendence" title="{{ 'mm.sidemenu.calender' | translate}}"> <img src="img/attendence.png" class="home_image_row4"> </a>
		<a menu-close  ui-sref="site.mm_anouncement" title="{{ 'mm.sidemenu.calender' | translate}}"><img src="img/announcements.png" class="home_image_row4"> </a>
		<a menu-close  ui-sref="site.calendar" title="{{ 'mm.sidemenu.calender' | translate}}">	<img src="img/calender.png" class="home_image_row4"> </a>


	</ion-content>
</ion-view>
