<ion-view view-title="Home">
    <ion-content>
        <!-- ion-refresher needs to be direct child of ion-content to work with native scrolling -->
			<img src="img/background_logo.png" class="course_image">
            <a menu-close  ui-sref="site.mm_courses" title="{{ 'mm.sidemenu.mycourses' | translate}}">  <img src="img/home/001.gif" class="home_image_row">  </a>
			<a menu-close ui-sref="site.mm_attendence" title="{{ 'mm.sidemenu.calender' | translate}}">	  <img src="img/home/0002.gif" class="home_image_row1"> </a>
			<a menu-close  ui-sref="site.mm_timetable" title="{{ 'mm.sidemenu.calender' | translate}}"><img src="img/home/0003.gif" class="home_image_row2">	 </a>
			<a menu-close  ui-sref="site.mm_anouncement" title="{{ 'mm.sidemenu.calender' | translate}}"><img src="img/home/0004.gif" class="home_image_row3"> </a>
			<a menu-close  ui-sref="site.calendar" title="{{ 'mm.sidemenu.calender' | translate}}">	<img src="img/home/0005.gif" class="home_image_row4"> </a>
            
    
    </ion-content>
</ion-view>
