<ion-view view-title="{{ 'mm.courses.mycourses' | translate }}">
    <ion-content padding="true">
        <!-- ion-refresher needs to be direct child of ion-content to work with native scrolling -->
        <ion-refresher pulling-text="{{ 'mm.core.pulltorefresh' | translate }}" ng-if="coursesLoaded" on-refresh="refreshCourses()">
        </ion-refresher>
        <mm-loading hide-until="coursesLoaded">
            <div class="list">
                <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="{{ 'mm.courses.filter' | translate}}" ng-model="filterText">
                </label>
            </div>
            <section class="list card">
                <a class="item" ui-sref="site.mm_course({course: course})" title="{{course.fullname}}">
                    <h2>Test</h2>
                </a>
                <div class="item item-text-wrap">
                    <p>
                        <summary>
                           Test
                        </summary>
                    </p>
                </div>
               
            </section>
        </mm-loading>
    </ion-content>
</ion-view>
